* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-crimson-profundo);
  width: 100%;
  height: 15vh;
  padding: 5px;
}

.logo-titulo {
  display: flex;
  align-items: flex-start;
}

.logo-titulo h1 {
  font-family: "Monoton", sans-serif;
  font-size: 2.5rem;
  color: var(--color-terciary-chakra-flamejante);
  padding: 1rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.menu li a {
  text-decoration: none;
  color: #f4f4f4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  font-weight: 500;
  align-items: flex-end;
  display: inline-block;
}

.menu li a:hover {
  color: var(--color-terciary-chakra-flamejante);
  transform: scale(1.1);
}

.search-bar {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.search-bar input {
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  padding: 8px 36px 8px 12px;
  gap: 4px;
  width: 200px;
  border-radius: 6px;
  border: #fafafa 1px solid;
  background-color: transparent;
}

.search-bar i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #f4f4f4;
  pointer-events: none;
  font-size: 1rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  /* ou 400px */
  background-image: url("../assets/Naruto.svg");
  /* substitua pelo seu banner */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.conteudo-banner {
  color: var(--color-base-cinza-suave);
}

.conteudo-banner h2 {
  font-family: "Bungee Inline", sans-serif;
  font-size: 3rem;
  color: var(--color-terciary-chakra-flamejante);
  margin-bottom: 15px;
}

.conteudo-banner p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.conteudo-banner button {
  padding: 12px 24px;
  background-color: var(--color-terciary-chakra-flamejante);
  color: var(--color-base-cinza-suave);
  border: none;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.conteudo-banner button:hover {
  transform: scale(1.05);
  background-color: var(--color-secondary-ouro-classico);
  color: white;
}

.produtos-destaque {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
}

.produtos-destaque h2 {
  text-align: center;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  font-size: 2rem;
  font-family: var(--font-body);
}

.produtos-destaque .cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  max-width: 1200px;
  padding: 0 20px;
}

.produtos-destaque .cards article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: var(--color-secondary-ouro-claro);
  padding: 2rem;
  border-radius: 8px;
}

.produtos-destaque .cards article:hover {
  transform: scale(1.05);
}

.produtos-destaque .cards img {
  height: auto;
  display: block;
}

.cards h3 {
  font-family: var(--font-header);
  font-size: 1.375rem;
  margin-top: 1rem;
}

.cards p {
  font-family: var(--font-body);
  font-size: 1rem;
  text-align: start;
  margin-top: 0.25rem;
}

.categorias-destaque {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}

.categorias-destaque h2 {
  font-family: var(--font-body);
  font-size: 2rem;
  text-align: center;
  margin-top: 3.75rem;
  margin-bottom: 1.5rem;
}

.categorias-destaque p {
  font-family: var(--font-body);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 3.75rem;
}

.cards-categoria {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.card-categoria {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1rem;
  text-align: left;
  transition: transform 0.3s ease;
  background-color: var(--color-emphasis-azul-profundo);
  padding: 2rem;
  margin-bottom: 3.75rem;
  border-radius: 8px;
  text-align: center;
  min-height: 150px;
}

.card-categoria:hover {
  transform: scale(1.05);
}

.card-categoria img {
  width: 80px;
  height: auto;
  flex-shrink: 0;
}

.card-categoria .conteudo-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.card-categoria h5 {
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: left;
}

.card-categoria p {
  font-family: var(--font-body);
  font-size: 0.9rem;
  color: white;
  text-align: left;
  margin: 0;
}

footer {
  background-color: var(--color-primary-crimson-profundo);
  padding: 2rem;
}

footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

footer .links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

footer .links ul li a {
  text-decoration: none;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
}

footer .contato {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .contato p {
  color: white;
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

footer .social-icons a {
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: var(--color-terciary-chakra-flamejante);
}
